body{
    background-color: #0a2323;
    color: wheat;
    display: flex;
    flex-direction: column;
}
#nav{
    color: white;
}

main{
    display: flex;
    flex-direction:column;
}

main article{
    display: flex;
    flex: 2;

}

main aside{
    display: flex;
    flex: 1;
}